[submodule ".scripts_references"]
	path = .scripts_references
	url = git@github.com:arthur-yatsun/.scripts_references.git
[submodule "python-patterns"]
	path = python-patterns
	url = git@github.com:arthur-yatsun/python-patterns.git
[submodule "flask_app_reference"]
	path = flask_app_reference
	url = git@github.com:arthur-yatsun/flask_app_reference.git
