[submodule ".scripts_references"]
	path = .config_files
	url = git@github.com:arthur-yatsun/.scripts_references.git
[submodule "python-patterns"]
	path = python-patterns
	url = git@github.com:arthur-yatsun/python-patterns.git
[submodule "flask_app_reference"]
	path = flask_app_reference
	url = git@github.com:arthur-yatsun/flask_app_reference.git
[submodule "apache_beam_snippets"]
	path = apache_beam_snippets
	url = git@github.com:arthur-yatsun/apache_beam_snippets.git
